app/src/main/res/raw/xml_sms_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Einnahme">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="zeit" use="required"/>
          <xs:attribute type="xs:string" name="dosis" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Medikament">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Einnahme" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="bezeichnung" use="required"/>
      <xs:attribute type="xs:string" name="einheit" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Medikamente">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Medikament" maxOccurs="unbounded" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ordination">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="arzt"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Medikamente"/>
        <xs:element ref="Ordination"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>